body {
    background-color: rgba(225, 225, 225, 0.995);
}

h1 {
    color: rgba(35, 35, 35);
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'times new roman', serif;
}

input {
    background-color: aliceblue;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color:black;
    margin-bottom: 20px;
}

textarea {
    background-color: aliceblue;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color:black;
    margin-bottom: 25px;
    font-family: 'times new roman', serif;
}

input:focus-within {
    outline: none;
    border-color: rgb(235, 149, 36);
    border-width: 3px;
}

button {
    background-color: aliceblue;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}